<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
</dict>
	<key>CFBundleIdentifier</key>
	<string>$(Config.docsetIdentifier)</string>
	<key>CFBundleName</key>
	<string>$(Config.docsetName)</string>
	<key>DocSetPlatformFamily</key>
	<string>$(Config.docsetPlatformFamily)</string>
	<key>isDashDocset</key>
	<true />
	<key>dashIndexFilePath</key>
	<string>ldoc/index.html</string>
</plist>
